{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}

{% block content %}

<h1><p>My Posts</p></h1>

<h3><a href="{% url 'FeedApp:new_post' %}">Add a new post</a></h3>

<table style="font-size: 25px;width:100%;">

    {% for p,c,l in zipped_list %}
        <tr style="border: 1px solid black;padding: 6px;">
            <td> {{ p.username}}:&nbsp {{ p }} <br>
                {% if p.image %}
                <img src="{{p.image.url}}" class="img-thumbnail" style="max-height: 300px" alt="">
                {% endif %}
            </td>
        </tr>
        <tr style="border: 1px solid black;padding: 6px;">
            <td> {{p.date_posted}}</td>
            <td>Likes: &nbsp {{l}} &nbsp&nbsp&nbsp</td>
            <td>Comments: &nbsp <a href="{% url 'FeedApp:comments' p.id %}">{{c}}</a>&nbsp&nbsp</td>
        </tr>
    {% endfor %}

</table>

{% endblock content %}