{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}


{% block content %}

    <!--If the form’s errors attribute is set, we display an error message-->
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <!--set the action argument as the URL of the login page-->
    <form action="{% url 'users:login' %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-outline-primary" name="submit">Log in</button>
        <!--include a hidden form element, 'next'; the value argument 
            tells Django where to redirect the user after they’ve logged in successfully.-->
        <input type="hidden" name="next"
        value="{% url 'FeedApp:index' %}" />
    </form>

{% endblock content %}